.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
}

.box {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border: 2px solid gainsboro;
  border-radius: 12px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.heading,
.textFilled {
  margin-bottom: 10px;
}

.button {
  margin-top: 15px;
}

.lyrics {
  border: 2px solid gainsboro;
  border-radius: 12px;
  margin-top: 20px;
  padding: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
